body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:26px;
    color:#7581a1
}
a {
    text-decoration:none;
}
    h1 {
    font-size:80px;
    font-weight:600;
    color:#192b59;
}
.nav {
    font-size:12px;
    font-weight:700;
    color:#7581a1;
    text-transform: uppercase;
}
.btn-free {
    font-weight:400;
    color:#fff;
    background-color:#1085e4;
}
.btn-get {
    font-size:12px;
    font-weight:700;
    color:#fff;
    background-color:#1085e4;
    text-transform: uppercase;
}
.btn-learn {
    font-size:12px;
    font-weight:700;
    color:#7e8bae;
    background-color:#cbdbe8;
    text-transform: uppercase;
}
.grid h2 {
    font-size:40px;
    font-weight:700;
    color:#192b59;
}
.grid h2 span {
    font-size:14px;
    color:#1085e4;
    text-transform: uppercase;
    display:block;
}
.grid-item h3{
    font-size:20px;
    font-weight:600;
    color:#192b59;
}
.grid-item a {
    font-size:14px;
    font-weight:600;
    color:#1085e4;
}
.page-subscribe h2 {
    font-size:50px;
    font-weight:600;
    color:#fff;
}
.page-subscribe h2 span {
    font-size:14px;
    font-weight:800;
    color:#00bffe;
    text-transform: uppercase;
    display:block;
}
.btn-submit {
    font-size:14x;
    font-weight:700;
    color:#fff;
    background-color:#1085e4;
    text-transform: uppercase;
}